build/*
build-*
clang/*
clang-*
.vscode/*.db
.vscode/settings.json
.vscode/launch.json
third_party
genfiles/*
*.sublime-*
.tags
!third_party/include/*
*.pyc
/CMakeLists.txt.user
_deps
releases
.DS_Store
