#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_build:
	@echo "no build is done here"

override_dh_installchangelogs:
	@echo "no change long installation"

override_dh_auto_test:
	@echo "no testing"

override_dh_auto_clean:
	dh_auto_clean
