async-timeout==4.0.2
attrs==22.1.0
Deprecated==1.2.13
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
redis==4.5.3
tomli==2.0.1
wrapt==1.14.1
pytest-asyncio==0.20.1
pytest-repeat==0.9.1
pymemcache==4.0.0
numpy==1.24.3
pytest-json-report

