---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: dragonflies.dragonflydb.io
spec:
  group: dragonflydb.io
  names:
    kind: Dragonfly
    listKind: DragonflyList
    plural: dragonflies
    singular: dragonfly
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Dragonfly is the Schema for the dragonflies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DragonflySpec defines the desired state of Dragonfly
            properties:
              image:
                description: Image is the image of the database to use
                type: string
              replicas:
                description: Replicas is the number of replicas of the database
                format: int32
                type: integer
            type: object
          status:
            description: DragonflyStatus defines the observed state of Dragonfly
            properties:
              created:
                description: Created is true if the database resources have been created
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
