name: package-install-tests

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  test-rpm:
    runs-on: ubuntu-latest
    # RPM only on x86_64
    if: ${{ runner.arch == 'X64' && (github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success') }}
    container:
      image: ghcr.io/romange/fedora:30
    steps:
      - name: Install on fedora
        run: |
          curl -Lo /etc/yum.repos.d/dragonfly.repo https://packages.dragonflydb.io/dragonfly.repo
          dnf clean all
          dnf makecache
          dnf -y install dragonfly
          dragonfly --version

  test-deb-ubuntu:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    container:
      image: ghcr.io/romange/ubuntu:noble
    steps:
      - name: Install on ubuntu
        run: |
          apt update
          apt install -y curl
          curl -Lo /usr/share/keyrings/dragonfly-keyring.public https://packages.dragonflydb.io/pgp-key.public
          curl -Lo /etc/apt/sources.list.d/dragonfly.sources https://packages.dragonflydb.io/dragonfly.sources
          apt update
          apt install -y dragonfly
          dragonfly --version
